name: Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build image
        run: docker build -t file-manager .

      - name: Run tests inside image
        run: docker run --rm --entrypoint python file-manager -m pytest -q
        #run: docker run --rm file-manager -m pytest -q

      #- name: Run tests
      #  run: docker run --rm --entrypoint python file-manager -m pytest -q